html {
  scroll-behavior: smooth;
}

body {
  background: #333;
  color: whitesmoke;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas {
  color: #008ed6;
  background: white;
  padding: 5px;
  border-radius: 5px;
}

#explore-section .fas,
#share-section .fas {
  background: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

#create-section .fas {
  background: #008ed6;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

#create-head-section {
  background: #008ed6;
  color: white;
}

#share-head-section {
  background: #008ed6;
  color: white;
}

#share-section .fas {
  background: #008ed6;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

#main-footer {
  background-color: #008ed6;
  color: white;
  padding: 5px 5px;
}
